 .social_icons{
    list-style-type: none;
}

.social_icons li {
    display: inline-block;
    color: white;
}
.header_color {
    background-color: black;
}
.contacts{
    color: white;
}
.navbar_color{
    background-color: bisque;
}
.prev_icon{
    color: black;
    background-color: white;
}

.heading{
    text-align: center;
    font-size: 36px;
    color: darkslategray;
    font-family: 'Italianno', cursive; 
    font-weight: bold;
}
.sweet-title{
    font-size: 18px;
    text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategray;
    font-weight: bold;
}
.container2{
    background-color: lavenderblush;
}
.img-top{
    border-radius: 0%;
    
}

.card-body{
    background-color: bisque;
}
.title{
    font-size: 52px;
    color: lightcoral;
    font-family: 'Italianno', cursive;
   
}
.text{
    font-size: 42px;
    color: black;
    font-family: 'Italianno', cursive;
}
.img-top-3{
    border-radius: 50%;
}

.container-fluid3{
    background-color:black;
}
.mater{
    
    font-size: 35px;
    color: white;
    font-family: 'Italianno', cursive;
}
.info{
    font-size: 16px;
    color: white;
    text-align: right;
    padding-right: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.description{

    font-family: 'Italianno', cursive;
    font-size: 36px;

}
.about_me{
    background-color: bisque;
}