*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* #b6cea2 */
/* #296b4f */
/* #58914a */
/* #637588 */
/* #1d5ca8 */
/* #bbd768 */
.container-fluid_box{
    background-color: #296b4f;
}
.heading{
    font-size: 36px;
    font-family: 'Roboto';
}
.item-name{
    font-size: 22px;
}
.container-fluid_box2{
    background-color: #b6cea2;
}
.text_title{
    font-size: 28px;
    
    font-family: 'roboto';
}
.title{
    font-size: 50px;
    font-family: 'Italianno', cursive;
    
}
/* .description{
    font-size: 25px;
    font-family: 'roboto';
    
} */
.container-fluid_box3{
    background-color: #637588;
}
.mater{
    font-size: 24px;
    font-family: 'roboto';
    text-align: right;
    padding-right: 60px;
    
}
.info{
    font-size: 24px;
    font-family: 'roboto';
    text-align: right;
    padding-right: 15px;
}
